*{
    box-sizing: border-box;
    margin: o;
    padding: 0;
}

header{
    padding: 0.5rem 1rem;
}

.img-logo{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    
}

main{
    background-color: rgb(224, 224, 224);
    
    
}

h2{
    display: inline-block;
}

.badge-new-task{
    border-radius: 10px;
    background-color: lightblue;
    color: white;
    padding: 5px;
    display: inline-block;
    font-size: 12px;
}

.riquadro-bianco{
    border-radius: 15px;
    background-color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 920px;
    margin: 0 auto;
    

}


hr{
    color: gray;
}

.add-task{
    border-radius: 10px;
    background-color: lightblue;
    color: white;
    padding: 7px;
    font-size: 12px;
}

.add-section{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(140, 139, 139) ;
    padding: 7px;
    font-size: 12px;
}

.badge-today-1{
    border-radius: 10px;
    background-color: purple;
    color: white;
    padding: 5px;
    display: inline-block;
    font-size: 12px;
}

.badge-today-2{
    border-radius: 10px;
    background-color: rgb(12, 188, 118);
    color: white;
    padding: 5px;
    display: inline-block;
    font-size: 12px;
}

.badge-today-3{
    border-radius: 10px;
    background-color: rgb(255, 167, 16);
    color: white;
    padding: 5px;
    display: inline-block;
    font-size: 12px;
}

.badge-upcoming-1{
    border-radius: 10px;
    background-color: rgb(255, 91, 233);
    color: white;
    padding: 5px;
    display: inline-block;
    font-size: 12px;
}

.badge-upcoming-2{
    border-radius: 10px;
    background-color: rgb(154, 233, 44);
    color: white;
    padding: 5px;
    display: inline-block;
    font-size: 12px;
}